<div class='enable-tasks-delete' fxLayoutAlign=center>
  <mat-button-toggle [checked]="toggleOn" (change)="onToggleOn($event)">
    <mat-icon [color]="setColor">delete</mat-icon>
  </mat-button-toggle>
</div>
<mat-grid-list [cols]="cols" rowHeight="2:1">
  <mat-grid-tile *ngFor="let userCard of usersCardList">
    <mat-card>
      <mat-card-header fxLayoutAlign=end>
        <button mat-mini-fab [disabled]="!toggleOn" color="warn" (click)="onCardDelete(userCard.email)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-header>
      <div (click)="onCardClick(userCard.email)" [routerLink]="['/tasks',userCard.email]">
        <mat-card-title>{{userCard.displayName}}</mat-card-title>
        <mat-card-subtitle>Email : {{userCard.email}}</mat-card-subtitle>
        <mat-card-content>Total Tasks : {{userCard.totalTasks}}</mat-card-content>
        <mat-card-content>Completed Tasks : {{userCard.compeletedTasks}}</mat-card-content>
        <mat-card-content>Pending Tasks : {{userCard.pendingTasks}}</mat-card-content>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
