<mat-grid-list [cols]="cols" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header fxLayoutAlign=end>
        <button mat-mini-fab [hidden]="true" color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-title>Anas Mohammed</mat-card-title>
      <mat-card-subtitle>Email : anas@gmail.com</mat-card-subtitle>
      <mat-card-content>Total Tasks : 12</mat-card-content>
      <mat-card-content>Completed Tasks : 6</mat-card-content>
      <mat-card-content>Pending Tasks : 6</mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
